<div style="width: 1600px; height: 1080px; position: relative; background: #050A15">
  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, rgba(25, 34, 53, 0.50) 0%, rgba(25, 34, 53, 0.50) 0%, rgba(0, 0, 0, 0) 0%)"></div>
  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, rgba(25, 34, 53, 0.50) 0%, rgba(25, 34, 53, 0.50) 0%, rgba(0, 0, 0, 0) 0%)"></div>
  <div style="width: 500px; height: 770.22px; left: 550px; top: 154.89px; position: absolute; background: #0D1526; box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.50); overflow: hidden; border-radius: 32px; outline: 0.89px #1E293B solid; outline-offset: -0.89px">
    <div style="width: 192px; height: 96px; left: 154px; top: 48.89px; position: absolute; background: white">
      <div style="left: 80px; top: 40.22px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-style: italic; font-weight: 900; line-height: 16px; word-wrap: break-word">LOGO</div>
    </div>
    <div style="width: 402.22px; left: 52.01px; top: 169.78px; position: absolute; text-align: center; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Log in to track your fitness journey and achieve your health goals</div>
    <div style="width: 402.22px; height: 347.56px; left: 48.89px; top: 248.89px; position: absolute">
      <div style="width: 402.22px; height: 85.78px; left: 0px; top: 0px; position: absolute">
        <div style="left: 4px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Email Address</div>
        <div style="width: 402.22px; height: 57.78px; left: 0px; top: 28px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
          <div style="width: 368.44px; height: 24px; left: 16.89px; top: 16.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">charry@fittrack.app</div>
        </div>
      </div>
      <div style="width: 402.22px; height: 85.78px; left: 0px; top: 117.78px; position: absolute">
        <div style="left: 4px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Password</div>
        <div style="width: 402.22px; height: 57.78px; left: 0px; top: 28px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
          <div style="width: 368.44px; height: 24px; left: 16.89px; top: 16.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 1.60px; word-wrap: break-word">••••••••</div>
        </div>
      </div>
      <div style="width: 402.22px; height: 20px; left: 0px; top: 235.56px; position: absolute">
        <div style="width: 120.03px; height: 20px; left: 0px; top: 0px; position: absolute">
          <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute; border-radius: 2px; border: 1px black solid"></div>
          <div style="left: 24px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word"> Remember me</div>
        </div>
        <div style="left: 280.96px; top: -0.67px; position: absolute; color: #3B82F6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Forgot password?</div>
      </div>
      <div style="width: 402.22px; height: 60px; left: 0px; top: 287.56px; position: absolute; background: #2B7FFF; border-radius: 12px">
        <div style="left: 161.10px; top: 15.78px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">Log In </div>
        <div style="left: 222.03px; top: 15.78px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">→</div>
      </div>
    </div>
    <div style="width: 402.22px; height: 20px; left: 48.89px; top: 628.44px; position: absolute">
      <div style="left: 80.42px; top: -0.67px; position: absolute; color: #6B7280; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Don't have an account? </div>
      <div style="left: 240.08px; top: -0.67px; position: absolute; color: #3B82F6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Sign up free</div>
    </div>
    <div style="width: 402.22px; height: 40.89px; left: 48.89px; top: 680.44px; position: absolute; border-top: 0.89px #1F2937 solid">
      <div style="width: 402.22px; height: 16px; left: 0px; top: 24.89px; position: absolute">
        <div style="left: 8.72px; top: 0px; position: absolute; color: #4B5563; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">By continuing, you agree to our </div>
        <div style="left: 189.57px; top: 0px; position: absolute; color: #3B82F6; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Terms of Service</div>
        <div style="left: 286.22px; top: 0px; position: absolute; color: #4B5563; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word"> and </div>
        <div style="left: 314.15px; top: 0px; position: absolute; color: #3B82F6; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Privacy Policy</div>
      </div>
    </div>
  </div>
</div>