<div style="width: 1600px; height: 1080px; position: relative; background: #050A15">
  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, rgba(25, 34, 53, 0.50) 0%, rgba(25, 34, 53, 0.50) 0%, rgba(0, 0, 0, 0) 0%)"></div>
  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, rgba(25, 34, 53, 0.50) 0%, rgba(25, 34, 53, 0.50) 0%, rgba(0, 0, 0, 0) 0%)"></div>
  <div style="width: 554px; height: 969px; left: 530px; top: 40px; position: absolute; background: #0D1526; box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.60); overflow: hidden; border-radius: 32px; outline: 0.89px #1E293B solid; outline-offset: -0.89px">
    <div style="width: 160px; height: 80px; left: 197px; top: 40.89px; position: absolute; background: white">
      <div style="width: 52px; left: 66px; top: 32px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-style: italic; font-weight: 900; line-height: 16px; word-wrap: break-word">LOGO</div>
    </div>
    <div style="width: 448px; left: 60.72px; top: 145.78px; position: absolute; text-align: center; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Start your fitness tracking journey today and achieve your health goals</div>
    <div style="width: 458.22px; height: 527.11px; left: 47.89px; top: 216.89px; position: absolute">
      <div style="width: 458.22px; height: 81.78px; left: 0px; top: 0px; position: absolute">
        <div style="width: 221.11px; height: 81.78px; left: 0px; top: 0px; position: absolute">
          <div style="left: 4px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">First Name</div>
          <div style="width: 221.11px; height: 53.78px; left: 0px; top: 28px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
            <div style="width: 191.33px; height: 24px; left: 14.89px; top: 14.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Charry</div>
          </div>
        </div>
        <div style="width: 221.11px; height: 81.78px; left: 237.11px; top: 0px; position: absolute">
          <div style="left: 4px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Last Name</div>
          <div style="width: 221.11px; height: 53.78px; left: 0px; top: 28px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
            <div style="width: 191.33px; height: 24px; left: 14.89px; top: 14.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Atamosa</div>
          </div>
        </div>
      </div>
      <div style="width: 458.22px; height: 81.78px; left: 0.11px; top: 96.11px; position: absolute">
        <div style="left: 4px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Email Address</div>
        <div style="width: 458.22px; height: 53.78px; left: 0px; top: 28px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
          <div style="width: 428.44px; height: 24px; left: 14.89px; top: 14.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">charry@fittrack.app</div>
        </div>
      </div>
      <div style="width: 458.22px; height: 81.78px; left: 0px; top: 211.56px; position: absolute">
        <div style="left: 4px; top: 71.33px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Password</div>
        <div style="left: 4.11px; top: -20.44px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Select Role</div>
        <div style="width: 458.22px; height: 53.78px; left: 0px; top: 99px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
          <div style="width: 428.44px; height: 24px; left: 14.89px; top: 14.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 1.60px; word-wrap: break-word">••••••••</div>
        </div>
        <div style="width: 458.22px; height: 53.78px; left: -1.89px; top: 7.56px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
          <div data-size="Regular" data-state="Idle (No Platter)" style="height: 44px; padding-left: 18px; padding-right: 17px; left: 401px; top: 5px; position: absolute; overflow: hidden; border-radius: 100px; justify-content: center; align-items: center; gap: 5px; display: inline-flex">
            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #545454; font-size: 19px; font-family: SF Pro; font-weight: 700; line-height: 24px; word-wrap: break-word">􀆈</div>
          </div>
        </div>
      </div>
      <div style="width: 458px; height: 69px; left: 0.11px; top: 330.11px; position: absolute">
        <div style="width: 124.94px; left: 4px; top: 47.33px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Confirm Password</div>
      </div>
      <div style="width: 458.22px; height: 53.78px; left: 0.11px; top: 406.11px; position: absolute; background: #162033; overflow: hidden; border-radius: 12px; outline: 0.89px #2D3748 solid; outline-offset: -0.89px">
        <div style="width: 428.44px; height: 24px; left: 14.89px; top: 14.89px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 1.60px; word-wrap: break-word">••••••••</div>
      </div>
      <div style="width: 458.22px; height: 20px; left: 23.11px; top: 481.11px; position: absolute">
        <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute; border-radius: 2px; border: 1px white solid"></div>
        <div style="width: 329.10px; height: 20px; left: 28px; top: 0px; position: absolute">
          <div style="left: 0px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">I agree to the </div>
          <div style="left: 91.18px; top: -0.67px; position: absolute; color: #3B82F6; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Terms of Service</div>
          <div style="left: 203.94px; top: -0.67px; position: absolute; color: #9CA3AF; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word"> and </div>
          <div style="left: 236.53px; top: -0.67px; position: absolute; color: #3B82F6; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Privacy Policy</div>
        </div>
      </div>
    </div>
    <div style="width: 458.22px; height: 60px; left: 37px; top: 740px; position: absolute; background: #2B7FFF; border-radius: 12px">
      <div style="left: 147.72px; top: 15.78px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">Create Account </div>
      <div style="left: 291.40px; top: 15.78px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">→</div>
    </div>
    <div style="width: 459.61px; height: 20px; left: 52px; top: 821px; position: absolute">
      <div style="width: 175.43px; left: 119.09px; top: -0.67px; position: absolute; color: #6B7280; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Already have an account? </div>
      <div style="left: 296.96px; top: -0.67px; position: absolute; color: #3B82F6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Log in</div>
    </div>
    <div style="width: 448px; height: 40.89px; left: 47px; top: 862px; position: absolute; border-top: 0.89px #1F2937 solid">
      <div style="width: 448px; height: 16px; left: 0px; top: 24.89px; position: absolute">
        <div style="left: 5.04px; top: 0px; position: absolute; color: #4B5563; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">By creating an account, you agree to our </div>
        <div style="left: 239.01px; top: 0px; position: absolute; color: #3B82F6; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Terms of Service</div>
        <div style="left: 335.67px; top: 0px; position: absolute; color: #4B5563; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word"> and </div>
        <div style="left: 363.60px; top: 0px; position: absolute; color: #3B82F6; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Privacy Policy</div>
      </div>
    </div>
  </div>
</div>